/* stylelint-disable alpha-value-notation */
/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable color-function-notation */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable function-no-unknown */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable CssSyntaxError */
/* stylelint-disable block-no-empty */
/* stylelint-disable no-empty-source */


/* ==========css variables======= */
:root{
    --primary-color: #7c5dfa;
    --secondary-color: #1e2139;
    --body-bg-color: #404777;
    --paid-status-bg: #1f2c3f;
    --paid-status-color: #32cf9b;
    --pending-status-bg: #rgba(255, 143, 0, 0.06);
    --pending-status-color: #ff8f00;
    --small-text-color: #888eb0;
    --draft-bg: #252945;
    
}

       /* ===========base style=========== */ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: var(--body-bg-color);
}

a{
    text-decoration: none;
    color: unset;
}

.btn{
    padding: 7px 25px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
}

p{
    font-size: 0.8rem;
    color: var(--small-text-color);
}

.main__container{ /* pour la longue barre bleu roi{id, client,date and price} */
    position: absolute;
    top: 0;
    left: 12%;
    width: calc(100% - 13%);
    padding: 40px 0;
}

.pending__status, .paid__status, .draft__status, .edit__btn,
.delete__btn, .mark__as-btn, .draft__btn{
    padding: 10px 25px;
    width: 100px;
    border-radius: 5px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    font-weight: 500;
}

.paid__status{
    background: var(--paid-status-bg);
    color: var(--paid-status-color);
}

.pending__status{
    background: var(--pending-status-bg);
    font-size: 16px;
    color: var(--pending-status-color);
}

.sidebar{
    width: 130px;
    height: 110vh;
    background: var(--secondary-color) !important;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.sidebar_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 130px;
    height: 80%;
}

.sidebar_header{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    background: var(--primary-color); /*  l'arrière bleu */
}

.sidebar_bottom{
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    background: var(--primary-color);
    background: var(--secondary-color) !important;
    border-top: 1px solid var(--primary-color);
}

.sidebar_bottom img{
    border-radius: 50%;
}

    /* =============home page style start=========== */
.invoice__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;  
    margin-right: 30px;
}

.invoice__header-logo h3{
    color: #fff;
}

.invoice__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: var(--secondary-color);
    border-radius: 0.5rem;
    margin-bottom: 1.9rem;
    transition: 1s;
    color: #fff;
}

.invoice__item:hover{
    border: 1px solid var(--primary-color);
    transform: scaleY(1.1);
}

.invoice__container{
    padding-bottom: 200px !important;
}

    /*  =========== home page style end ============ */
    /*  ============ invoice details style start ======== */
    .back__btn{
        margin-bottom: 1.9rem;
    }

    .back__btn h6{
        font-size: 0.9rem;
        cursor: pointer;
    }

    .details__status{
        display: flex;
        align-items: center;
        gap: 1px;
        /* column-gap: 2.5rem; */
        padding-right: 55%; /* gère l'espace entre le status, le pending et les buttons */
        
    }


    .invoice__details-header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 0.5rem;
        margin-bottom: 1.8rem;
        background: var(--secondary-color);
    }

    .details__btns{
        display: flex;
        /* align: center; */
        margin: 10px;
        gap: 0.5rem;
        cursor: pointer;
    }

    .mark__as-btn{
        width: 130px;
        padding: 10px 5px !important;
        background: var(--primary-color);
        color: #fff;
        cursor: pointer;
    }

    .delete__btn{
        /* background: var(--third-color); */
        background: rgb(221, 59, 9);
        color: #fff;
        cursor: pointer;
    }

    .edit__btn{ /* pour le bouton delete aussi dans add new */

        /* stylelint-disable-next-line declaration-empty-line-before */
        /* background: rgb(38, 38, 87); */
        background: rgb(36, 202, 44);
        margin-top: 5px;
        margin-left: 20px; 
        color: #fff;
        cursor: pointer;
    }

    .invoice__details{
        background: var(--secondary-color);  /* pour la grande bande */
        padding: 20px;
        border-radius: 10px 10px 0 0; /* les deuc derniers séros sont pour la gauche et la droite respectivement */
    }

    .details__box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.9rem;
    }

    .invoice__created-date{
        margin-bottom: 1.9rem;
    }

    .invoice__created-date p, .invoice__payment{
        margin-bottom: 5px;
    }

    .invoice__client-address p{
        margin-bottom: 5px;
    }

    .invoice__client-address h4{
        margin-bottom: 8px;
    }

    .invoice__item-box{         /* la bande au dessus du noir */
        background: #252945;
        padding: 20px;
        border-radius: 7px 7px 0 0;
    }

    .list{
        list-style: none;
    }

    .list__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .list__item-box{
        width: 25%;
        text-align: left;
    }

    .item__name-box{
        width: 40%;
    }

    .grand__total{
        background: #0c0e16;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 0 0 7px 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    /* ====== invoice details style end ====== */
    /* ====== add new page style start ======== */
    .new__invoice{
        width: 60%;
        margin: auto;
    }

    .new__invoice-header{
        margin-bottom: 1.9rem;
        
    }

    .form__group input{
        padding: 12px 20px;
        width: 100%;
        border-radius: 5px;
        background: var(--secondary-color);
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .form__group{
        margin-bottom: 1.9em;
    }

    .form__group p{
        margin-bottom: 10px;
    }

    .inline__form-group{
        display: flex;
        align-items: center;
        gap: 9px;
        justify-content: space-between;
    }

    .inline__group{
        width: 28%;
    }

    .new_invoice-body{
    padding-bottom: 40px;
    }

    .bill__title{
        margin-bottom: 20px;
    }

    .bill__to{
        margin-top: 50px;
    }

    .invoice__items{
        margin-top: 70px;
    }

    .invoice__items h3{
        margin-bottom: 30px;
    }

    .add__item-btn{
        width: 100%;
        background: rgba(21, 1, 58, 0.726);
        padding: 12px 25px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: aliceblue;
        cursor: pointer;
    }

    .draft__btn{
        background: #1f2c3f;
        color: #fff;
        margin-right: 30px;
        width: 150px !important;
        cursor: pointer;
    }

    .new__invoice-btns{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }





    /* ======= add new page style end ========= */

